{% extends "pjx_stellar.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static "css/app_soar_create.css" %}">
<style type="text/css">
#page6{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
#create{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
</style>
<div class="col app_soar_create">
<h1 class="text-center"><b>SOAR</b></h1>
<br>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="card bg-light">
<div class="card-body">
<div class="row">
<div class="form-group col-md-4 col-md-3">
{{ form.date.label_tag }}
{% render_field form.date class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ form.genre.label_tag }}
{% render_field form.genre class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ form.tag.label_tag }}
{% render_field form.tag class="form-control" %}
</div>
</div>
<div>
{{ form.situation.label_tag }}
{% render_field form.situation class="form-control" %}
</div>
<div>
{{ form.obstacle.label_tag }}
{% render_field form.obstacle class="form-control" %}
</div>
<div>
{{ form.action.label_tag }}
{% render_field form.action class="form-control" %}
</div>
<div>
{{ form.result.label_tag }}
{% render_field form.result class="form-control" %}
</div>
<br>
<button type="submit" class="btn btn-primary">Create</button>
</div>
</div>
</form>
{{ form.media }}
</div>
{% endblock content %}