{% extends "pjx_stellar.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static "css/app_goals_search.css" %}">
<style type="text/css">
#page8{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
#search{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
</style>
<div class="col app_goals_search">
<h1 class="text-center"><b>Goals</b></h1>
<br>
<form method="get">
<div class="card bg-light">
<div class="card-body">
<div class="row">
<div class="form-group col-md-4 col-md-3">
{{ filter.form.tag.label_tag }}
{% render_field filter.form.tag class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.body.label_tag }}
{% render_field filter.form.body class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.m_date.label_tag }}
{% render_field filter.form.m_date class="form-control" %}
</div>
</div>
<div class="row">
<div class="form-group col-md-4 col-md-3">
{{ filter.form.y_date.label_tag }}
{% render_field filter.form.y_date class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.complete.label_tag }}
{% render_field filter.form.complete class="form-control" %}
</div>
</div>
<button type="submit" class="btn btn-primary">Search</button>
</div> 
</div>
</form>
<div class="results">
{% for goals in filter.qs %}
<h1 class="font-italic font-weight-bold">{{ goals.end_date}}</h1>
<a><span class="badge badge-primary">{{ goals.tag }}</span></a>
{% if goals.complete == False %}
<a><span class="badge badge-danger">Not Complete</span></a>
{% elif goals.complete == True %}
<a><span class="badge badge-success">Complete</span></a>
{% else %}
<a><span class="badge badge-danger">Not Complete</span></a>
{% endif %}
<p>{{ goals.formatted_markdown|safe }}</p>
<hr>
<br>
{% endfor %}
</div>
</div>
{% endblock content %}